*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 33, 33);
}
.container{
   
    width: 460px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 30px;
}
input{
    width: 280px;
    padding: 8px;
    border: 2px solid rgb(12, 118, 118);
    outline: none;
    font-size: 19px;

}
button{
    width: 60px;
    height: 35px;
    background-color:  rgb(22, 23, 23);
    color: #fff;
    border-radius: 4px;
    font-size: 19px;
    outline: none;
    border: none;
}
.text ul{
    position: relative;
    background-color:rgb(8, 51, 51);
    color: #fff;
    font-size: 19px;
    text-align: right;
    width: 70%;
    margin-top: 10px;

    padding: 8px;
    border: 2px solid rgb(12, 118, 118);
    outline: none;
    font-size: 19px;
    margin-left: 40px;
}
.text ul span{
    transition: all 4s ease;
}